{
.appVersion = "3217";
.formatVersion = 3;
axes = (
{
hidden = 1;
name = "Optical size";
tag = opsz;
}
);
customParameters = (
{
name = "Use Typo Metrics";
value = 1;
},
{
name = fsType;
value = (
);
},
{
name = vendorID;
value = "CLT ";
},
{
name = unicodeRanges;
value = (
0,
1,
2
);
},
{
name = codePageRanges;
value = (
"1252",
"1250",
"1254",
"1257",
"bit 29"
);
},
{
name = glyphOrder;
value = (
.notdef,
space,
A,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Eth,
Dcaron,
Dcroat,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
Gbreve,
uni0122,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
J,
K,
uni0136,
L,
Lacute,
Lcaron,
uni013B,
Lslash,
M,
N,
Nacute,
Ncaron,
uni0145,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
uni0156,
S,
Sacute,
Scaron,
Scedilla,
uni0218,
uni1E9E,
T,
Tcaron,
uni0162,
uni021A,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
V,
W,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Z,
Zacute,
Zcaron,
Zdotaccent,
S.001,
a,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
d,
eth,
dcaron,
dcroat,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
gbreve,
uni0123,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
i.loclTRK,
igrave,
imacron,
iogonek,
j,
uni0237,
k,
uni0137,
l,
lacute,
lcaron,
uni013C,
lslash,
m,
n,
nacute,
ncaron,
uni0146,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
uni0157,
s,
sacute,
scaron,
scedilla,
uni0219,
germandbls,
t,
tcaron,
uni0163,
uni021B,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
v,
w,
x,
y,
yacute,
ycircumflex,
ydieresis,
z,
zacute,
zcaron,
zdotaccent,
f_i,
f_l,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
uni2070,
uni00B9,
uni00B2,
uni00B3,
fraction,
onehalf,
onequarter,
threequarters,
uni00A0,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
Euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
uni00B5,
percent,
perthousand,
uni0308,
uni0307,
gravecomb,
acutecomb,
uni030B,
uni0302,
uni030C,
uni0306,
uni030A,
tildecomb,
uni0304,
uni0312,
uni0326,
uni0327,
uni0328,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
);
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2022-01-09 11:12:50 +0000";
familyName = Messapia;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature sups;
feature frac;
feature ordn;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	lookupflag UseMarkFilteringSet @CombiningTopAccents;
	sub i' @CombiningTopAccents by idotless;
	sub j' @CombiningTopAccents by jdotless;
} ccmp_Other_1;

lookup ccmp_latn_1 {
	sub fi by f i;
	sub fl by f l;
} ccmp_latn_1;

script latn;
lookup ccmp_latn_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;
language AZE;
lookup locl_latn_0 {
	sub i by idotaccent;
} locl_latn_0;
language CRT;
lookup locl_latn_0;
language KAZ;
lookup locl_latn_0;
language TAT;
lookup locl_latn_0;
language TRK;
lookup locl_latn_0;

script latn;
language ROM;
lookup locl_latn_1 {
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} locl_latn_1;
language MOL;
lookup locl_latn_1;
";
tag = locl;
},
{
automatic = 1;
code = "sub zero by zerosuperior;
sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;
sub one slash two by onehalf;
sub three slash four by threequarters;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f h by f_h;
";
tag = dlig;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f f by f_f;
sub f i by f_i;
sub f l by f_l;
";
tag = liga;
}
);
fontMaster = (
{
axesValues = (
0
);
customParameters = (
{
name = typoAscender;
value = 991;
},
{
name = typoDescender;
value = -290;
},
{
name = typoLineGap;
value = 120;
},
{
name = winAscent;
value = 991;
},
{
name = winDescent;
value = 304;
},
{
name = hheaAscender;
value = 991;
},
{
name = hheaDescender;
value = -290;
},
{
name = hheaLineGap;
value = 120;
},
{
name = strikeoutSize;
value = 50;
},
{
name = strikeoutPosition;
value = 250;
}
);
id = m01;
metricValues = (
{
over = 15;
pos = 750;
},
{
over = 15;
pos = 700;
},
{
over = 15;
pos = 500;
},
{
over = -15;
},
{
pos = -250;
},
{
}
);
name = Regular;
},
{
axesValues = (
1
);
customParameters = (
{
name = typoAscender;
value = 991;
},
{
name = typoDescender;
value = -290;
},
{
name = typoLineGap;
value = 120;
},
{
name = winAscent;
value = 991;
},
{
name = winDescent;
value = 304;
},
{
name = hheaAscender;
value = 991;
},
{
name = hheaDescender;
value = -290;
},
{
name = hheaLineGap;
value = 120;
},
{
name = strikeoutSize;
value = 50;
},
{
name = strikeoutPosition;
value = 250;
}
);
iconName = Bold;
id = "03DC8633-12B9-4C09-834B-15CC0827035A";
metricValues = (
{
over = 15;
pos = 750;
},
{
over = 15;
pos = 700;
},
{
over = 15;
pos = 500;
},
{
over = -15;
},
{
pos = -250;
},
{
}
);
name = Bold;
}
);
instances = (
{
axesValues = (
0
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
},
{
axesValues = (
1
);
instanceInterpolations = {
"03DC8633-12B9-4C09-834B-15CC0827035A" = 1;
};
name = Bold;
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_A" = 110;
"@MMK_R_C" = -50;
"@MMK_R_D" = 20;
"@MMK_R_E" = 20;
"@MMK_R_O" = -50;
"@MMK_R_T" = -60;
"@MMK_R_X" = 10;
"@MMK_R_Z" = 20;
B = 20;
C = -50;
E = 20;
H = 30;
I = 20;
K = 10;
U = -80;
c = -20;
comma = 50;
d = -20;
e = -20;
exclam = 40;
o = -20;
oslash = 0;
period = 40;
question = -20;
quotedblright = -100;
quoteleft = -60;
quoteright = -60;
quotesingle = -60;
s = -20;
slash = 30;
t = -10;
u = -40;
v = -50;
w = -50;
};
"@MMK_L_B" = {
"@MMK_R_A" = -30;
"@MMK_R_B" = -40;
"@MMK_R_C" = -10;
"@MMK_R_D" = -30;
"@MMK_R_E" = -40;
"@MMK_R_F" = -20;
"@MMK_R_I" = -20;
"@MMK_R_J" = -20;
"@MMK_R_K" = -20;
"@MMK_R_L" = -30;
"@MMK_R_N" = -30;
"@MMK_R_P" = -20;
"@MMK_R_R" = -20;
"@MMK_R_S" = 20;
"@MMK_R_U" = -30;
"@MMK_R_V" = -40;
"@MMK_R_X" = -70;
"@MMK_R_Z" = 30;
"@MMK_R_y" = 50;
H = -40;
M = -40;
a = 10;
at = 30;
comma = 0;
emdash = 40;
endash = 50;
germandbls = -30;
j = -40;
k = -20;
l = -20;
period = -20;
quoteright = 20;
};
"@MMK_L_C" = {
"@MMK_R_A" = -20;
"@MMK_R_B" = -30;
"@MMK_R_D" = -20;
"@MMK_R_E" = -20;
"@MMK_R_F" = -20;
"@MMK_R_I" = -10;
"@MMK_R_J" = -30;
"@MMK_R_L" = -10;
"@MMK_R_M" = -10;
"@MMK_R_N" = -20;
"@MMK_R_P" = -20;
"@MMK_R_R" = -20;
"@MMK_R_S" = 10;
"@MMK_R_U" = -30;
"@MMK_R_V" = -20;
"@MMK_R_X" = -40;
AE = -50;
H = -20;
emdash = 40;
endash = 50;
g = -10;
germandbls = -20;
hyphen = 20;
j = -40;
question = 40;
quotedblright = 0;
quoteright = 0;
quotesingle = 30;
u = -20;
underscore = -40;
v = 20;
w = -10;
y = 40;
};
"@MMK_L_D" = {
"@MMK_R_A" = -70;
"@MMK_R_B" = -60;
"@MMK_R_C" = -10;
"@MMK_R_D" = -30;
"@MMK_R_E" = -30;
"@MMK_R_F" = -30;
"@MMK_R_H" = -10;
"@MMK_R_I" = -30;
"@MMK_R_J" = -30;
"@MMK_R_K" = -40;
"@MMK_R_L" = -30;
"@MMK_R_M" = -40;
"@MMK_R_N" = -30;
"@MMK_R_P" = -20;
"@MMK_R_R" = -30;
"@MMK_R_S" = 10;
"@MMK_R_T" = 20;
"@MMK_R_U" = -40;
"@MMK_R_V" = -60;
"@MMK_R_X" = -80;
"@MMK_R_Z" = 10;
"@MMK_R_y" = 50;
AE = -80;
H = -40;
a = 10;
asterisk = 30;
comma = -50;
emdash = 40;
endash = 50;
germandbls = -30;
j = -20;
period = -30;
question = 50;
quoteright = 20;
slash = -30;
underscore = -40;
y = 90;
};
"@MMK_L_E" = {
"@MMK_R_A" = 20;
"@MMK_R_B" = -10;
"@MMK_R_C" = 10;
"@MMK_R_D" = 20;
"@MMK_R_K" = -20;
"@MMK_R_L" = 0;
"@MMK_R_N" = -30;
"@MMK_R_O" = 20;
"@MMK_R_R" = 0;
"@MMK_R_S" = 20;
"@MMK_R_T" = 20;
"@MMK_R_U" = -20;
"@MMK_R_X" = -20;
"@MMK_R_Z" = 30;
"@MMK_R_y" = 40;
H = -20;
asterisk = 30;
comma = 10;
emdash = 50;
endash = 50;
exclam = 50;
hyphen = 40;
p = 20;
question = 50;
quotedblright = 20;
quoteright = 40;
quotesingle = 30;
u = 20;
v = 20;
w = 20;
x = 20;
};
"@MMK_L_F" = {
"@MMK_R_B" = -40;
"@MMK_R_D" = -20;
"@MMK_R_E" = -20;
"@MMK_R_F" = -20;
"@MMK_R_H" = -20;
"@MMK_R_I" = -30;
"@MMK_R_J" = -120;
"@MMK_R_K" = -20;
"@MMK_R_L" = -40;
"@MMK_R_M" = -30;
"@MMK_R_N" = -30;
"@MMK_R_O" = -10;
"@MMK_R_P" = -30;
"@MMK_R_R" = -20;
"@MMK_R_U" = -40;
"@MMK_R_V" = -10;
"@MMK_R_X" = -30;
"@MMK_R_a" = -60;
"@MMK_R_e" = -70;
"@MMK_R_i" = -30;
"@MMK_R_o" = -80;
"@MMK_R_u" = -20;
"@MMK_R_z" = -40;
AE = -160;
H = -40;
a = -60;
asterisk = 30;
c = -90;
comma = -70;
d = -90;
e = -70;
eth = -30;
g = -60;
germandbls = -70;
h = -30;
hyphen = -30;
i = -10;
j = -70;
k = -20;
l = -30;
m = -40;
n = -20;
oslash = -80;
period = -50;
q = -70;
question = 50;
quotedblright = 30;
quoteright = 40;
quotesingle = 30;
r = -10;
s = -80;
slash = -50;
v = -30;
w = -40;
x = -30;
z = -60;
};
"@MMK_L_H" = {
"@MMK_R_E" = -30;
"@MMK_R_F" = -40;
"@MMK_R_J" = -30;
"@MMK_R_O" = -30;
"@MMK_R_S" = -10;
"@MMK_R_U" = -20;
"@MMK_R_V" = 10;
"@MMK_R_X" = -10;
"@MMK_R_Z" = 0;
Q = -40;
q = -20;
quotesingle = 30;
s = -30;
u = -20;
};
"@MMK_L_I" = {
"@MMK_R_A" = 30;
"@MMK_R_C" = -30;
"@MMK_R_J" = -30;
"@MMK_R_O" = -20;
"@MMK_R_u" = -20;
H = -40;
c = -20;
d = -20;
e = -20;
g = -20;
j = -20;
o = -20;
oslash = -20;
q = -30;
quotesingle = 20;
s = -20;
};
"@MMK_L_J" = {
"@MMK_R_A" = -80;
"@MMK_R_B" = -20;
"@MMK_R_C" = -40;
"@MMK_R_D" = -20;
"@MMK_R_E" = -20;
"@MMK_R_H" = -30;
"@MMK_R_J" = -50;
"@MMK_R_K" = -20;
"@MMK_R_L" = -20;
"@MMK_R_O" = -20;
"@MMK_R_P" = -30;
"@MMK_R_R" = -30;
"@MMK_R_U" = -40;
"@MMK_R_V" = -10;
"@MMK_R_X" = -100;
"@MMK_R_t" = 20;
"@MMK_R_u" = -10;
"@MMK_R_y" = 60;
AE = -90;
a = -20;
c = -40;
comma = -80;
d = -40;
e = -20;
f = -20;
g = -30;
germandbls = -40;
j = -40;
k = -10;
l = -20;
m = -20;
o = -20;
oslash = -30;
p = 0;
period = -60;
q = -10;
quoteright = 10;
quotesingle = 20;
s = 0;
underscore = -90;
};
"@MMK_L_K" = {
"@MMK_R_C" = -50;
"@MMK_R_F" = 10;
"@MMK_R_J" = -10;
"@MMK_R_K" = -10;
"@MMK_R_O" = -80;
"@MMK_R_T" = -10;
"@MMK_R_U" = -20;
"@MMK_R_o" = -50;
c = -50;
d = -50;
e = -40;
emdash = -40;
endash = -40;
eth = -30;
oslash = -40;
p = -10;
q = -30;
quoteright = 0;
quotesingle = 30;
s = -20;
v = -80;
w = -80;
y = -40;
};
"@MMK_L_L" = {
"@MMK_R_A" = -20;
"@MMK_R_B" = -30;
"@MMK_R_D" = -40;
"@MMK_R_E" = -30;
"@MMK_R_F" = -20;
"@MMK_R_H" = -50;
"@MMK_R_I" = -10;
"@MMK_R_K" = -40;
"@MMK_R_L" = -30;
"@MMK_R_M" = -30;
"@MMK_R_N" = -30;
"@MMK_R_P" = -50;
"@MMK_R_R" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -60;
"@MMK_R_V" = -140;
"@MMK_R_X" = -70;
"@MMK_R_Z" = -30;
AE = -30;
asterisk = -30;
bracketright = -20;
emdash = 50;
germandbls = -20;
hyphen = 20;
j = -30;
l = -20;
quotedblright = -60;
quoteright = -70;
quotesingle = -60;
v = -30;
w = -20;
};
"@MMK_L_M" = {
"@MMK_R_B" = -10;
"@MMK_R_C" = -10;
"@MMK_R_F" = -20;
"@MMK_R_J" = -40;
"@MMK_R_O" = -40;
"@MMK_R_P" = -40;
"@MMK_R_T" = -20;
"@MMK_R_U" = -20;
"@MMK_R_u" = -30;
c = -20;
d = -20;
e = -20;
o = -20;
p = -20;
q = -30;
s = -30;
};
"@MMK_L_N" = {
"@MMK_R_A" = -30;
"@MMK_R_B" = -20;
"@MMK_R_C" = -20;
"@MMK_R_F" = -10;
"@MMK_R_J" = -20;
"@MMK_R_O" = -30;
"@MMK_R_T" = -20;
AE = -30;
c = -30;
d = -20;
e = -30;
g = -20;
germandbls = -20;
j = -40;
o = -20;
q = -20;
s = -20;
u = -40;
};
"@MMK_L_O" = {
"@MMK_R_A" = -50;
"@MMK_R_B" = -40;
"@MMK_R_D" = -40;
"@MMK_R_E" = -30;
"@MMK_R_F" = -40;
"@MMK_R_H" = -30;
"@MMK_R_I" = -20;
"@MMK_R_J" = -20;
"@MMK_R_K" = -40;
"@MMK_R_L" = -20;
"@MMK_R_M" = -30;
"@MMK_R_N" = -40;
"@MMK_R_P" = -50;
"@MMK_R_R" = -40;
"@MMK_R_S" = 10;
"@MMK_R_U" = -30;
"@MMK_R_V" = -70;
"@MMK_R_X" = -60;
"@MMK_R_y" = 50;
AE = -80;
a = 20;
e = 10;
emdash = 40;
endash = 50;
j = -30;
question = 40;
quotedblright = -40;
quoteright = 0;
underscore = -50;
y = 20;
};
"@MMK_L_P" = {
"@MMK_R_A" = -100;
"@MMK_R_B" = -30;
"@MMK_R_D" = -20;
"@MMK_R_E" = -20;
"@MMK_R_F" = -20;
"@MMK_R_H" = -30;
"@MMK_R_I" = -20;
"@MMK_R_J" = -90;
"@MMK_R_K" = -30;
"@MMK_R_L" = -30;
"@MMK_R_M" = -40;
"@MMK_R_N" = -30;
"@MMK_R_O" = 20;
"@MMK_R_P" = -20;
"@MMK_R_R" = -20;
"@MMK_R_S" = 20;
"@MMK_R_T" = 20;
"@MMK_R_U" = -30;
"@MMK_R_V" = -30;
"@MMK_R_X" = -50;
"@MMK_R_y" = 30;
AE = -200;
comma = -60;
d = -20;
e = -20;
endash = -20;
g = -30;
germandbls = -40;
j = -30;
k = -20;
o = -20;
oslash = -20;
period = -60;
q = -20;
question = 60;
quotedblright = 20;
quoteright = 40;
quotesingle = 20;
t = 20;
x = 20;
y = 20;
};
"@MMK_L_R" = {
"@MMK_R_B" = -30;
"@MMK_R_C" = -40;
"@MMK_R_D" = -20;
"@MMK_R_E" = -30;
"@MMK_R_F" = -30;
"@MMK_R_H" = -30;
"@MMK_R_J" = -70;
"@MMK_R_K" = -20;
"@MMK_R_L" = -20;
"@MMK_R_O" = -40;
"@MMK_R_P" = -20;
"@MMK_R_T" = -30;
"@MMK_R_U" = -90;
"@MMK_R_V" = -90;
"@MMK_R_X" = -90;
"@MMK_R_u" = -60;
AE = 0;
a = -30;
b = -40;
c = -50;
d = -60;
e = -50;
eth = -40;
g = -20;
germandbls = -30;
h = -30;
hyphen = -50;
j = -50;
k = -20;
l = -30;
o = -50;
oslash = -40;
p = -10;
q = -60;
quoteright = -40;
r = -10;
s = -50;
v = -20;
w = -20;
z = -30;
};
"@MMK_L_S" = {
"@MMK_R_A" = -30;
"@MMK_R_B" = -40;
"@MMK_R_D" = -20;
"@MMK_R_E" = -20;
"@MMK_R_F" = -30;
"@MMK_R_H" = -30;
"@MMK_R_J" = -20;
"@MMK_R_K" = -30;
"@MMK_R_L" = -20;
"@MMK_R_P" = -20;
"@MMK_R_U" = -30;
"@MMK_R_V" = -60;
"@MMK_R_X" = -60;
AE = -60;
a = 10;
emdash = 60;
endash = 60;
g = -20;
germandbls = -20;
hyphen = 30;
j = -50;
question = 30;
y = 10;
};
"@MMK_L_T" = {
"@MMK_R_A" = -90;
"@MMK_R_H" = 10;
"@MMK_R_J" = -80;
"@MMK_R_M" = -20;
"@MMK_R_N" = -20;
"@MMK_R_P" = -20;
"@MMK_R_R" = -20;
"@MMK_R_U" = -10;
"@MMK_R_o" = -100;
AE = -130;
O = 10;
S = 10;
a = -30;
backslash = 30;
c = -70;
comma = -40;
d = -100;
e = -100;
g = -100;
germandbls = -50;
hyphen = 0;
j = -70;
oslash = -60;
period = -60;
q = -60;
question = 60;
quoteleft = 40;
quoteright = 30;
quotesingle = 40;
s = -50;
u = -20;
z = -30;
};
"@MMK_L_U" = {
"@MMK_R_A" = -80;
"@MMK_R_B" = -30;
"@MMK_R_C" = -20;
"@MMK_R_D" = -20;
"@MMK_R_E" = -20;
"@MMK_R_F" = -10;
"@MMK_R_J" = -50;
"@MMK_R_K" = -20;
"@MMK_R_M" = -30;
"@MMK_R_O" = -20;
"@MMK_R_U" = -20;
AE = -70;
period = -50;
quotesingle = 30;
underscore = -80;
};
"@MMK_L_V" = {
"@MMK_R_C" = -40;
"@MMK_R_H" = 20;
"@MMK_R_J" = -100;
"@MMK_R_O" = -70;
"@MMK_R_a" = -80;
"@MMK_R_c" = -90;
"@MMK_R_d" = -90;
"@MMK_R_e" = -80;
"@MMK_R_g" = -90;
"@MMK_R_j" = -100;
"@MMK_R_m" = -30;
"@MMK_R_n" = -50;
"@MMK_R_o" = -90;
"@MMK_R_p" = -30;
"@MMK_R_q" = -70;
"@MMK_R_r" = -30;
"@MMK_R_s" = -70;
"@MMK_R_u" = -40;
"@MMK_R_z" = -60;
A = -170;
AE = -200;
asterisk = 20;
at = -50;
backslash = 60;
braceright = 30;
comma = -70;
endash = -50;
exclam = 30;
germandbls = -50;
guilsinglleft = -50;
hyphen = -50;
period = -70;
question = 20;
quotedblright = 40;
quoteright = 30;
quotesingle = 80;
underscore = -90;
};
"@MMK_L_X" = {
"@MMK_R_A" = 20;
"@MMK_R_C" = -60;
"@MMK_R_H" = -20;
"@MMK_R_J" = -30;
"@MMK_R_O" = -70;
at = 30;
backslash = 50;
endash = -40;
exclam = 40;
hyphen = -20;
quotesingle = 20;
};
"@MMK_L_Z" = {
"@MMK_R_A" = -20;
"@MMK_R_B" = -10;
"@MMK_R_D" = -10;
"@MMK_R_E" = -10;
"@MMK_R_H" = -30;
"@MMK_R_J" = -30;
"@MMK_R_K" = -30;
"@MMK_R_P" = -20;
"@MMK_R_R" = -30;
"@MMK_R_Z" = -20;
emdash = 50;
endash = 50;
hyphen = 30;
quotesingle = 20;
};
"@MMK_L_a" = {
"@MMK_R_V" = -130;
emdash = 0;
eth = -10;
o = -20;
oslash = -20;
q = -20;
question = -40;
quotedblright = -40;
quoteleft = -60;
quoteright = -60;
quotesingle = -50;
s = -20;
u = -40;
v = -60;
w = -60;
y = -20;
};
"@MMK_L_b" = {
"@MMK_R_V" = -90;
"@MMK_R_s" = 20;
"@MMK_R_y" = 20;
emdash = 40;
endash = 40;
eth = 20;
o = 20;
oslash = 20;
quotedblright = -40;
quoteright = -20;
quotesingle = -30;
t = 30;
underscore = -30;
v = -20;
w = -20;
};
"@MMK_L_c" = {
"@MMK_R_V" = -90;
"@MMK_R_d" = 30;
"@MMK_R_t" = 40;
"@MMK_R_y" = 40;
"@MMK_R_z" = 20;
emdash = 50;
endash = 30;
oslash = 20;
quoteleft = -20;
s = 20;
};
"@MMK_L_d" = {
"@MMK_R_V" = -30;
"@MMK_R_t" = 30;
"@MMK_R_y" = 20;
g = 0;
q = -20;
s = -20;
u = -20;
v = -20;
};
"@MMK_L_e" = {
"@MMK_R_V" = -90;
"@MMK_R_o" = 20;
"@MMK_R_t" = 30;
"@MMK_R_z" = 20;
emdash = 60;
endash = 30;
eth = 40;
hyphen = 30;
oslash = 20;
quoteleft = -20;
quoteright = -30;
v = 20;
y = 30;
};
"@MMK_L_f" = {
"@MMK_R_e" = -50;
"@MMK_R_f" = -20;
"@MMK_R_o" = -60;
"@MMK_R_t" = 20;
backslash = 30;
braceright = 30;
bracketright = 30;
comma = -40;
emdash = -40;
exclam = 40;
foursuperior = 20;
g = -50;
guilsinglleft = -40;
hyphen = -50;
j = -80;
onesuperior = 90;
oslash = -60;
parenright = 80;
period = -60;
q = -60;
question = 60;
quotedblright = 80;
quoteleft = 30;
quoteright = 80;
quotesingle = 70;
s = -60;
threesuperior = 90;
twosuperior = 70;
u = -50;
z = -40;
zerosuperior = 100;
};
"@MMK_L_g" = {
"@MMK_R_V" = -80;
"@MMK_R_t" = 30;
"@MMK_R_y" = 60;
"@MMK_R_z" = -10;
germandbls = -30;
guilsinglleft = -20;
l = -20;
p = 20;
q = -20;
question = 40;
quotedblright = 20;
quoteright = 30;
s = -10;
};
"@MMK_L_h" = {
"@MMK_R_V" = -100;
"@MMK_R_j" = -20;
"@MMK_R_u" = -30;
quotedblright = -80;
quoteleft = -70;
quoteright = -60;
};
"@MMK_L_i" = {
"@MMK_R_V" = -60;
j = -30;
quoteright = -20;
slash = 20;
};
"@MMK_L_k" = {
"@MMK_R_V" = -120;
"@MMK_R_j" = -60;
eth = -40;
guilsinglright = -30;
o = -60;
oslash = -50;
parenright = -40;
q = -80;
quotedblright = -50;
quoteright = -40;
s = -60;
u = -50;
z = -30;
};
"@MMK_L_l" = {
slash = 50;
};
"@MMK_L_m" = {
"@MMK_R_V" = -100;
"@MMK_R_j" = -40;
"@MMK_R_v" = -30;
"@MMK_R_w" = -50;
quotedblright = -50;
quoteleft = -60;
quoteright = -40;
x = 20;
};
"@MMK_L_n" = {
"@MMK_R_V" = -110;
"@MMK_R_j" = -20;
"@MMK_R_n" = 0;
germandbls = 0;
quotedblright = -50;
quoteleft = -40;
quoteright = -30;
u = -20;
w = -60;
};
"@MMK_L_o" = {
"@MMK_R_V" = -90;
"@MMK_R_e" = 20;
"@MMK_R_j" = -40;
"@MMK_R_o" = 20;
"@MMK_R_y" = 20;
emdash = 70;
eth = 30;
quoteleft = -30;
};
"@MMK_L_p" = {
"@MMK_R_V" = -100;
"@MMK_R_t" = 30;
"@MMK_R_v" = -10;
"@MMK_R_w" = -10;
emdash = 40;
eth = 20;
germandbls = -20;
l = -10;
quotedblright = -40;
};
"@MMK_L_q" = {
"@MMK_R_V" = -100;
"@MMK_R_j" = 20;
"@MMK_R_q" = -30;
"@MMK_R_t" = 40;
germandbls = -30;
quotedblright = -30;
slash = 30;
y = 40;
};
"@MMK_L_r" = {
"@MMK_R_V" = -90;
"@MMK_R_t" = 50;
"@MMK_R_u" = -10;
comma = -60;
emdash = 50;
eth = 20;
germandbls = -40;
period = -70;
question = 20;
underscore = -50;
x = 20;
y = 30;
};
"@MMK_L_s" = {
"@MMK_R_V" = -100;
"@MMK_R_t" = 30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -10;
"@MMK_R_y" = 20;
emdash = 60;
eth = 20;
germandbls = -30;
question = -20;
quoteright = -10;
};
"@MMK_L_t" = {
"@MMK_R_u" = -20;
emdash = -30;
l = -20;
quotedblright = -30;
quoteright = -30;
y = 20;
};
"@MMK_L_u" = {
"@MMK_R_j" = -30;
"@MMK_R_y" = 30;
quotedblright = -50;
quoteright = -30;
};
"@MMK_L_v" = {
"@MMK_R_e" = -30;
"@MMK_R_m" = 20;
"@MMK_R_n" = 10;
"@MMK_R_q" = -20;
"@MMK_R_t" = 30;
comma = -60;
emdash = -20;
germandbls = -30;
period = -50;
question = 70;
quoteleft = 30;
quoteright = 30;
quotesingle = 40;
};
"@MMK_L_w" = {
"@MMK_R_j" = -20;
"@MMK_R_s" = -10;
colon = 40;
comma = -60;
exclam = 30;
germandbls = -20;
period = -20;
question = 60;
quoteleft = 40;
quoteright = 30;
quotesingle = 40;
slash = -40;
y = 20;
z = -20;
};
"@MMK_L_x" = {
comma = 30;
period = 40;
question = 30;
quoteleft = 30;
quoteright = 40;
quotesingle = 40;
};
"@MMK_L_y" = {
"@MMK_R_a" = -40;
"@MMK_R_b" = -30;
"@MMK_R_h" = -60;
"@MMK_R_m" = -20;
"@MMK_R_n" = -20;
"@MMK_R_o" = -60;
"@MMK_R_s" = -30;
"@MMK_R_y" = 40;
comma = -110;
emdash = -40;
endash = -40;
eth = -40;
exclam = -10;
germandbls = -70;
hyphen = -50;
l = -40;
oslash = -50;
period = -90;
question = 20;
quotedblright = 20;
quotesingle = 0;
slash = -60;
z = -60;
};
"@MMK_L_z" = {
"@MMK_R_d" = -20;
"@MMK_R_q" = -20;
"@MMK_R_r" = -20;
"@MMK_R_u" = -20;
l = -30;
};
A = {
"@MMK_R_V" = -170;
};
C = {
"@MMK_R_P" = -50;
"@MMK_R_T" = 10;
};
D = {
"@MMK_R_P" = -40;
};
Euro = {
two = -40;
zero = 20;
};
F = {
"@MMK_R_A" = -120;
};
Germandbls = {
"@MMK_R_C" = 10;
"@MMK_R_D" = -10;
"@MMK_R_E" = -20;
"@MMK_R_J" = 10;
H = 0;
};
H = {
"@MMK_R_A" = 30;
"@MMK_R_C" = -20;
"@MMK_R_D" = -30;
"@MMK_R_F" = -40;
};
K = {
"@MMK_R_A" = 30;
};
O = {
"@MMK_R_T" = 0;
};
S = {
"@MMK_R_P" = -50;
"@MMK_R_T" = -10;
};
Thorn = {
"@MMK_R_V" = -90;
"@MMK_R_X" = -130;
};
U = {
"@MMK_R_H" = -20;
"@MMK_R_P" = -50;
};
Y = {
A = -100;
};
a = {
b = -10;
c = -10;
j = -60;
n = 0;
};
asterisk = {
"@MMK_R_J" = -40;
"@MMK_R_T" = 30;
AE = -90;
space = 30;
};
at = {
"@MMK_R_V" = -50;
space = 0;
zero = 20;
};
b = {
a = 30;
c = 20;
e = 20;
j = -60;
k = -20;
};
backslash = {
"@MMK_R_j" = 30;
};
braceleft = {
"@MMK_R_U" = -30;
"@MMK_R_V" = 30;
"@MMK_R_j" = 40;
"@MMK_R_y" = 30;
};
bracketleft = {
"@MMK_R_y" = 40;
};
c = {
a = 30;
c = 30;
j = -50;
};
comma = {
"@MMK_R_A" = 50;
"@MMK_R_V" = -130;
};
d = {
j = -60;
};
e = {
a = 30;
b = -10;
c = 30;
g = 20;
j = -30;
};
eight = {
Euro = 20;
endash = 30;
hyphen = 20;
one = -40;
space = 0;
two = -20;
zero = 10;
};
emdash = {
"@MMK_R_C" = 50;
"@MMK_R_O" = 50;
"@MMK_R_S" = 60;
"@MMK_R_Z" = 50;
"@MMK_R_a" = 50;
"@MMK_R_c" = 60;
"@MMK_R_o" = 70;
"@MMK_R_s" = 60;
"@MMK_R_t" = 40;
"@MMK_R_z" = 30;
};
endash = {
"@MMK_R_C" = 50;
"@MMK_R_J" = 0;
"@MMK_R_O" = 50;
"@MMK_R_S" = 60;
"@MMK_R_V" = -50;
"@MMK_R_X" = -40;
"@MMK_R_Z" = 30;
"@MMK_R_c" = 40;
"@MMK_R_o" = 40;
eight = 40;
five = 40;
four = 50;
nine = 20;
six = 50;
three = 30;
zero = 40;
};
eth = {
"@MMK_R_a" = 20;
"@MMK_R_d" = 40;
"@MMK_R_o" = 20;
"@MMK_R_s" = 20;
"@MMK_R_y" = 30;
at = 40;
colon = 40;
hyphen = 50;
question = 50;
quoteleft = 20;
quoteright = 40;
quotesingle = 30;
};
exclamdown = {
"@MMK_R_A" = 40;
"@MMK_R_V" = -50;
"@MMK_R_j" = 30;
"@MMK_R_v" = 31;
"@MMK_R_y" = 60;
AE = 40;
};
f = {
"@MMK_R_c" = -50;
"@MMK_R_d" = -50;
a = -20;
};
five = {
asterisk = 20;
endash = 30;
four = 10;
hyphen = 30;
one = -30;
two = -40;
zero = 20;
};
four = {
Euro = 20;
asterisk = -30;
endash = 30;
five = -20;
nine = -40;
one = -30;
percent = -20;
seven = -60;
six = -10;
two = -60;
};
g = {
"@MMK_R_e" = -10;
b = -30;
g = -20;
n = 10;
};
germandbls = {
"@MMK_R_o" = 20;
quoteleft = -30;
quoteright = -20;
};
guilsinglleft = {
space = -30;
};
guilsinglright = {
"@MMK_R_V" = -50;
"@MMK_R_X" = -30;
AE = -40;
};
hyphen = {
"@MMK_R_C" = 30;
"@MMK_R_O" = 30;
"@MMK_R_S" = 40;
"@MMK_R_T" = -30;
"@MMK_R_V" = -70;
"@MMK_R_X" = -40;
"@MMK_R_Z" = 10;
"@MMK_R_c" = 30;
"@MMK_R_j" = -50;
eight = 20;
eth = 20;
four = 30;
nine = 20;
seven = -30;
six = 30;
space = 20;
zero = 30;
};
j = {
b = -20;
};
k = {
"@MMK_R_a" = -40;
"@MMK_R_e" = -50;
"@MMK_R_i" = -20;
b = -40;
c = -50;
d = -40;
g = -50;
h = -40;
};
l = {
"@MMK_R_t" = 20;
};
n = {
"@MMK_R_v" = -40;
f = 0;
t = 0;
};
nine = {
Euro = 40;
endash = 30;
hyphen = 30;
one = -20;
percent = 20;
two = -20;
zero = 0;
};
o = {
"@MMK_R_a" = 30;
"@MMK_R_c" = 30;
"@MMK_R_d" = 30;
"@MMK_R_k" = -20;
};
one = {
eight = 20;
four = -20;
seven = -20;
six = -20;
space = 0;
three = 20;
two = -40;
};
onesuperior = {
space = 0;
};
oslash = {
"@MMK_R_a" = 20;
"@MMK_R_b" = -20;
"@MMK_R_c" = 20;
"@MMK_R_d" = 20;
"@MMK_R_e" = 20;
"@MMK_R_j" = -40;
"@MMK_R_k" = -20;
};
p = {
"@MMK_R_b" = -20;
"@MMK_R_k" = -20;
};
parenleft = {
"@MMK_R_j" = 30;
};
parenright = {
exclam = 40;
question = 30;
};
percent = {
four = 20;
seven = -30;
six = 20;
two = 20;
};
period = {
"@MMK_R_A" = 40;
"@MMK_R_T" = -60;
"@MMK_R_U" = -50;
"@MMK_R_V" = -70;
"@MMK_R_w" = -50;
"@MMK_R_x" = 40;
AE = 30;
};
questiondown = {
"@MMK_R_A" = 60;
"@MMK_R_C" = -30;
"@MMK_R_D" = 40;
"@MMK_R_T" = -30;
"@MMK_R_U" = -40;
"@MMK_R_V" = -100;
"@MMK_R_X" = 40;
"@MMK_R_Z" = 60;
"@MMK_R_f" = 30;
"@MMK_R_g" = 30;
"@MMK_R_j" = 70;
"@MMK_R_k" = 20;
"@MMK_R_m" = 20;
"@MMK_R_n" = 20;
"@MMK_R_x" = 40;
"@MMK_R_y" = 50;
"@MMK_R_z" = 30;
AE = 50;
l = 20;
};
quotedblleft = {
"@MMK_R_A" = -100;
"@MMK_R_C" = -30;
"@MMK_R_J" = -110;
"@MMK_R_O" = -40;
"@MMK_R_V" = 40;
"@MMK_R_a" = -40;
"@MMK_R_f" = -50;
"@MMK_R_g" = -70;
"@MMK_R_j" = -50;
"@MMK_R_o" = -40;
"@MMK_R_y" = 30;
};
quoteleft = {
"@MMK_R_A" = -30;
"@MMK_R_J" = -90;
"@MMK_R_O" = 10;
"@MMK_R_S" = 20;
"@MMK_R_T" = 30;
"@MMK_R_V" = 30;
"@MMK_R_b" = 20;
"@MMK_R_c" = -40;
"@MMK_R_d" = -20;
"@MMK_R_g" = -30;
"@MMK_R_m" = 30;
"@MMK_R_n" = 30;
"@MMK_R_o" = -30;
"@MMK_R_t" = 40;
"@MMK_R_v" = 40;
"@MMK_R_w" = 30;
"@MMK_R_x" = 40;
"@MMK_R_y" = 60;
"@MMK_R_z" = -20;
question = 30;
};
quoteright = {
"@MMK_R_A" = -60;
AE = -90;
question = 30;
};
quotesinglbase = {
"@MMK_R_A" = 30;
"@MMK_R_T" = -30;
"@MMK_R_V" = -80;
"@MMK_R_a" = 20;
"@MMK_R_y" = 30;
};
quotesingle = {
"@MMK_R_A" = -40;
"@MMK_R_V" = 30;
"@MMK_R_X" = 20;
"@MMK_R_g" = -70;
};
r = {
"@MMK_R_a" = 20;
"@MMK_R_j" = -50;
};
s = {
"@MMK_R_a" = 20;
"@MMK_R_j" = -30;
};
seven = {
Euro = -30;
eight = -40;
endash = -80;
five = -60;
four = -110;
hyphen = -100;
nine = -20;
one = -70;
seven = -20;
six = -50;
three = -40;
two = -50;
zero = -50;
};
six = {
Euro = 30;
endash = 40;
four = 20;
hyphen = 30;
one = -30;
zero = 20;
};
slash = {
"@MMK_R_A" = -60;
"@MMK_R_T" = 30;
"@MMK_R_o" = -30;
"@MMK_R_y" = 40;
};
space = {
"@MMK_R_L" = 0;
};
t = {
"@MMK_R_a" = -10;
"@MMK_R_b" = -40;
"@MMK_R_c" = -20;
"@MMK_R_d" = -10;
"@MMK_R_g" = -20;
"@MMK_R_j" = -30;
"@MMK_R_k" = -20;
"@MMK_R_o" = -20;
"@MMK_R_s" = -10;
};
three = {
Euro = 60;
endash = 40;
hyphen = 20;
one = -20;
space = 0;
two = -40;
};
two = {
Euro = 0;
eight = -20;
endash = 30;
five = -60;
four = -50;
nine = -30;
one = -70;
seven = -50;
six = -40;
three = -40;
zero = -10;
};
u = {
"@MMK_R_t" = 30;
};
underscore = {
"@MMK_R_C" = -50;
"@MMK_R_O" = -30;
"@MMK_R_U" = -70;
"@MMK_R_V" = -110;
"@MMK_R_j" = 40;
"@MMK_R_q" = -20;
"@MMK_R_u" = -30;
AE = 50;
};
v = {
"@MMK_R_c" = 0;
"@MMK_R_d" = -10;
"@MMK_R_g" = -30;
"@MMK_R_j" = -30;
"@MMK_R_k" = 0;
};
w = {
"@MMK_R_k" = -10;
"@MMK_R_q" = -20;
"@MMK_R_t" = 20;
};
x = {
"@MMK_R_i" = 20;
"@MMK_R_k" = 20;
"@MMK_R_n" = 20;
"@MMK_R_r" = 30;
"@MMK_R_t" = 30;
};
y = {
"@MMK_R_c" = -40;
"@MMK_R_d" = -60;
"@MMK_R_e" = -50;
"@MMK_R_g" = -70;
"@MMK_R_j" = -40;
"@MMK_R_k" = -60;
"@MMK_R_q" = -60;
"@MMK_R_r" = -20;
"@MMK_R_t" = 30;
};
z = {
"@MMK_R_b" = -30;
"@MMK_R_g" = -20;
"@MMK_R_j" = -20;
"@MMK_R_t" = 40;
};
zero = {
Euro = 60;
asterisk = 20;
at = 20;
eight = 20;
endash = 40;
five = 20;
four = 20;
hyphen = 30;
nine = 20;
one = -20;
seven = 20;
six = 0;
three = -1;
two = -20;
zero = 0;
};
zerosuperior = {
space = 0;
};
};
"03DC8633-12B9-4C09-834B-15CC0827035A" = {
"@MMK_L_A" = {
"@MMK_R_B" = -20;
"@MMK_R_C" = -50;
"@MMK_R_J" = 40;
"@MMK_R_K" = -20;
"@MMK_R_O" = -30;
"@MMK_R_T" = -130;
"@MMK_R_U" = -60;
"@MMK_R_V" = -110;
Eth = -70;
question = -50;
quotedblright = -120;
quoteleft = -30;
quoteright = -100;
quotesingle = -90;
zerosuperior = -40;
};
"@MMK_L_B" = {
"@MMK_R_A" = -50;
"@MMK_R_C" = -20;
"@MMK_R_D" = -20;
"@MMK_R_H" = -40;
"@MMK_R_K" = 0;
"@MMK_R_L" = -30;
"@MMK_R_O" = -30;
"@MMK_R_V" = -30;
"@MMK_R_X" = -70;
"@MMK_R_a" = -30;
"@MMK_R_c" = -20;
"@MMK_R_d" = -30;
"@MMK_R_g" = -20;
"@MMK_R_j" = -120;
"@MMK_R_o" = -50;
"@MMK_R_q" = -20;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_y" = -60;
AE = -70;
Eth = -70;
Y = -60;
emdash = 40;
endash = 40;
parenright = -40;
period = -70;
quotedblright = -30;
quoteright = -30;
slash = -30;
};
"@MMK_L_C" = {
"@MMK_R_B" = 30;
"@MMK_R_C" = 20;
"@MMK_R_E" = 30;
"@MMK_R_J" = 40;
"@MMK_R_K" = 30;
"@MMK_R_O" = 0;
"@MMK_R_a" = 0;
"@MMK_R_g" = -20;
"@MMK_R_i" = 0;
"@MMK_R_j" = -60;
"@MMK_R_o" = 30;
"@MMK_R_u" = 0;
"@MMK_R_v" = -20;
"@MMK_R_y" = -10;
AE = -30;
Eth = -70;
O = 30;
Q = 40;
S = 50;
braceright = 30;
bracketright = 40;
emdash = 60;
endash = 80;
hyphen = 0;
idieresis = 70;
parenright = 30;
question = 30;
quotedblright = 50;
quoteleft = 30;
quoteright = 40;
quotesingle = 30;
slash = 20;
space = 0;
w = 0;
};
"@MMK_L_D" = {
"@MMK_R_A" = -50;
"@MMK_R_T" = -50;
"@MMK_R_V" = -40;
"@MMK_R_X" = -70;
"@MMK_R_Z" = -40;
"@MMK_R_j" = -80;
"@MMK_R_y" = -30;
AE = -100;
Eth = -30;
braceright = -30;
emdash = 40;
endash = 60;
quoteright = -20;
slash = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = -30;
"@MMK_R_C" = -30;
"@MMK_R_O" = -40;
"@MMK_R_T" = -30;
"@MMK_R_V" = -30;
"@MMK_R_X" = -60;
"@MMK_R_a" = -40;
"@MMK_R_c" = -50;
"@MMK_R_i" = 40;
"@MMK_R_j" = -90;
"@MMK_R_o" = -60;
"@MMK_R_q" = -40;
"@MMK_R_s" = -40;
"@MMK_R_y" = -60;
AE = -70;
Eth = -90;
idieresis = 40;
quotedblright = 20;
quoteright = -20;
quotesingle = 30;
space = 0;
};
"@MMK_L_F" = {
"@MMK_R_A" = -170;
"@MMK_R_C" = -70;
"@MMK_R_D" = -40;
"@MMK_R_E" = -30;
"@MMK_R_F" = -30;
"@MMK_R_H" = -40;
"@MMK_R_I" = -50;
"@MMK_R_J" = -170;
"@MMK_R_K" = -50;
"@MMK_R_L" = -30;
"@MMK_R_M" = -20;
"@MMK_R_N" = -30;
"@MMK_R_O" = -80;
"@MMK_R_P" = -30;
"@MMK_R_R" = -30;
"@MMK_R_S" = -20;
"@MMK_R_T" = -40;
"@MMK_R_U" = -30;
"@MMK_R_V" = -30;
"@MMK_R_X" = -60;
"@MMK_R_Z" = -50;
"@MMK_R_a" = -110;
"@MMK_R_c" = -130;
"@MMK_R_d" = -140;
"@MMK_R_f" = -50;
"@MMK_R_g" = -110;
"@MMK_R_i" = -40;
"@MMK_R_j" = -170;
"@MMK_R_l" = -30;
"@MMK_R_m" = -80;
"@MMK_R_n" = -90;
"@MMK_R_o" = -120;
"@MMK_R_p" = -90;
"@MMK_R_q" = -110;
"@MMK_R_r" = -60;
"@MMK_R_s" = -110;
"@MMK_R_t" = -70;
"@MMK_R_u" = -100;
"@MMK_R_v" = -110;
"@MMK_R_x" = -100;
"@MMK_R_y" = -90;
"@MMK_R_z" = -110;
AE = -230;
Eth = -110;
at = -60;
bracketright = -20;
comma = -110;
emdash = -70;
endash = -50;
eth = -120;
germandbls = -40;
guilsinglright = -90;
hyphen = -100;
idieresis = 20;
parenright = -30;
period = -170;
quotedblright = 20;
quoteright = 0;
quotesingle = 30;
slash = -80;
};
"@MMK_L_H" = {
"@MMK_R_H" = 0;
"@MMK_R_c" = -30;
"@MMK_R_j" = -90;
"@MMK_R_o" = -30;
"@MMK_R_y" = -40;
idieresis = 40;
};
"@MMK_L_I" = {
"@MMK_R_a" = -20;
"@MMK_R_c" = -30;
"@MMK_R_d" = -30;
"@MMK_R_g" = -20;
"@MMK_R_j" = -110;
"@MMK_R_o" = -30;
"@MMK_R_s" = -30;
"@MMK_R_u" = -30;
"@MMK_R_v" = -20;
"@MMK_R_y" = -30;
};
"@MMK_L_J" = {
"@MMK_R_A" = -50;
"@MMK_R_B" = -30;
"@MMK_R_K" = -20;
"@MMK_R_L" = -20;
"@MMK_R_X" = -30;
"@MMK_R_a" = -30;
"@MMK_R_b" = 30;
"@MMK_R_c" = 0;
"@MMK_R_d" = -30;
"@MMK_R_g" = 10;
"@MMK_R_h" = 30;
"@MMK_R_i" = 40;
"@MMK_R_j" = -110;
"@MMK_R_l" = 20;
"@MMK_R_o" = 0;
"@MMK_R_s" = 10;
"@MMK_R_u" = -40;
"@MMK_R_y" = 10;
"@MMK_R_z" = 30;
AE = -110;
Eth = -40;
at = -50;
braceright = 40;
bracketright = 20;
comma = -30;
emdash = 40;
endash = 0;
eth = 20;
exclam = 30;
hyphen = 30;
idieresis = 80;
parenright = 60;
period = -50;
quotedblright = 50;
quoteright = 40;
slash = 20;
};
"@MMK_L_K" = {
"@MMK_R_B" = 0;
"@MMK_R_C" = -70;
"@MMK_R_D" = -20;
"@MMK_R_E" = -40;
"@MMK_R_H" = -40;
"@MMK_R_I" = -50;
"@MMK_R_J" = 0;
"@MMK_R_K" = -20;
"@MMK_R_O" = -100;
"@MMK_R_R" = -40;
"@MMK_R_S" = -50;
"@MMK_R_T" = -100;
"@MMK_R_U" = -50;
"@MMK_R_V" = -70;
"@MMK_R_Z" = -60;
"@MMK_R_a" = -70;
"@MMK_R_c" = -80;
"@MMK_R_d" = -90;
"@MMK_R_f" = -50;
"@MMK_R_g" = -50;
"@MMK_R_i" = -40;
"@MMK_R_j" = -80;
"@MMK_R_o" = -90;
"@MMK_R_s" = -60;
"@MMK_R_t" = -70;
"@MMK_R_u" = -60;
"@MMK_R_v" = -90;
"@MMK_R_x" = -20;
"@MMK_R_y" = -80;
"@MMK_R_z" = -40;
AE = -40;
Eth = -100;
Thorn = -50;
emdash = -40;
eth = -80;
hyphen = -30;
parenright = -20;
question = -50;
quoteleft = -40;
quoteright = -30;
quotesingle = -60;
};
"@MMK_L_L" = {
"@MMK_R_C" = -20;
"@MMK_R_T" = -150;
"@MMK_R_V" = -120;
"@MMK_R_j" = -60;
"@MMK_R_y" = -60;
Eth = -50;
Y = -160;
foursuperior = -40;
onesuperior = -30;
parenright = -20;
question = -70;
quotedblright = -90;
quoteleft = -50;
quoteright = -70;
quotesingle = -90;
threesuperior = -30;
twosuperior = -30;
zerosuperior = -60;
};
"@MMK_L_M" = {
"@MMK_R_c" = -30;
"@MMK_R_e" = -30;
"@MMK_R_j" = -70;
"@MMK_R_y" = -30;
Y = -40;
endash = 40;
};
"@MMK_L_N" = {
"@MMK_R_j" = -80;
"@MMK_R_y" = -20;
AE = -40;
endash = 40;
idieresis = 30;
};
"@MMK_L_O" = {
"@MMK_R_A" = -30;
"@MMK_R_C" = 0;
"@MMK_R_T" = -60;
"@MMK_R_V" = -50;
"@MMK_R_X" = -90;
"@MMK_R_f" = 20;
"@MMK_R_j" = -80;
"@MMK_R_t" = 30;
"@MMK_R_y" = -30;
AE = -90;
W = -40;
bracketright = -30;
emdash = 50;
endash = 70;
question = 20;
quotedblright = -20;
slash = 20;
};
"@MMK_L_P" = {
"@MMK_R_A" = -90;
"@MMK_R_T" = -80;
"@MMK_R_V" = -40;
"@MMK_R_X" = -90;
"@MMK_R_Z" = -50;
"@MMK_R_a" = -40;
"@MMK_R_c" = -40;
"@MMK_R_d" = -50;
"@MMK_R_e" = -30;
"@MMK_R_g" = -70;
"@MMK_R_j" = -120;
"@MMK_R_l" = -30;
"@MMK_R_m" = -30;
"@MMK_R_n" = -30;
"@MMK_R_o" = -40;
"@MMK_R_s" = -40;
"@MMK_R_x" = -20;
"@MMK_R_z" = -30;
AE = -170;
J = -30;
K = -30;
Y = -70;
bracketright = -30;
comma = -70;
eth = -50;
hyphen = -30;
parenright = -40;
period = -70;
quoteright = 0;
slash = -40;
};
"@MMK_L_R" = {
"@MMK_R_T" = -30;
"@MMK_R_V" = -50;
"@MMK_R_X" = -50;
"@MMK_R_a" = -30;
"@MMK_R_c" = -20;
"@MMK_R_d" = -30;
"@MMK_R_j" = -60;
"@MMK_R_o" = -30;
bracketright = -20;
eth = -20;
slash = 30;
};
"@MMK_L_S" = {
"@MMK_R_F" = 30;
"@MMK_R_J" = 40;
"@MMK_R_a" = 20;
"@MMK_R_b" = 20;
"@MMK_R_c" = 20;
"@MMK_R_d" = 20;
"@MMK_R_g" = 20;
"@MMK_R_h" = 20;
"@MMK_R_j" = -50;
"@MMK_R_k" = 20;
G = 40;
emdash = 60;
endash = 80;
hyphen = 40;
idieresis = 50;
quotedblright = 20;
slash = 40;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_C" = -50;
"@MMK_R_H" = 0;
"@MMK_R_J" = -130;
"@MMK_R_O" = -50;
"@MMK_R_a" = -120;
"@MMK_R_c" = -140;
"@MMK_R_e" = -120;
"@MMK_R_f" = -60;
"@MMK_R_g" = -150;
"@MMK_R_h" = -20;
"@MMK_R_i" = -30;
"@MMK_R_j" = -130;
"@MMK_R_l" = -20;
"@MMK_R_m" = -70;
"@MMK_R_n" = -70;
"@MMK_R_o" = -150;
"@MMK_R_p" = -80;
"@MMK_R_r" = -80;
"@MMK_R_s" = -120;
"@MMK_R_t" = -60;
"@MMK_R_u" = -120;
"@MMK_R_v" = -120;
"@MMK_R_x" = -130;
"@MMK_R_y" = -130;
"@MMK_R_z" = -90;
AE = -160;
at = -50;
comma = -120;
emdash = -30;
endash = -80;
eth = -100;
guilsinglright = -60;
hyphen = -80;
idieresis = 40;
parenright = 30;
quotedblright = 20;
quoteright = 20;
quotesingle = 30;
slash = -70;
};
"@MMK_L_U" = {
"@MMK_R_A" = -50;
"@MMK_R_H" = 0;
"@MMK_R_j" = -80;
AE = -70;
endash = 40;
idieresis = 40;
parenright = 40;
quoteright = 20;
slash = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -110;
"@MMK_R_C" = -50;
"@MMK_R_H" = 0;
"@MMK_R_J" = -60;
"@MMK_R_K" = -20;
"@MMK_R_O" = 0;
"@MMK_R_a" = -100;
"@MMK_R_c" = -100;
"@MMK_R_e" = -50;
"@MMK_R_f" = -20;
"@MMK_R_g" = -80;
"@MMK_R_j" = -110;
"@MMK_R_n" = -40;
"@MMK_R_o" = -100;
"@MMK_R_p" = -50;
"@MMK_R_r" = -50;
"@MMK_R_s" = -60;
"@MMK_R_u" = -20;
"@MMK_R_x" = -60;
"@MMK_R_y" = -40;
"@MMK_R_z" = -60;
A = -120;
AE = -200;
Eth = -60;
J = -70;
O = -30;
at = -50;
comma = -40;
endash = -50;
eth = -90;
guilsinglright = -30;
hyphen = -40;
idieresis = 90;
parenright = 50;
period = -90;
quotedblright = 40;
quoteright = 30;
quotesingle = 30;
slash = -80;
};
"@MMK_L_X" = {
"@MMK_R_C" = -40;
"@MMK_R_O" = -60;
"@MMK_R_T" = -30;
"@MMK_R_X" = -40;
"@MMK_R_y" = -70;
Eth = -70;
at = -60;
endash = -50;
eth = -50;
hyphen = -70;
};
"@MMK_L_Z" = {
"@MMK_R_C" = -30;
"@MMK_R_J" = 20;
"@MMK_R_X" = -50;
"@MMK_R_a" = -30;
"@MMK_R_c" = -30;
"@MMK_R_o" = -30;
"@MMK_R_u" = -30;
"@MMK_R_v" = -40;
"@MMK_R_y" = -30;
AE = -40;
Eth = -80;
};
"@MMK_L_a" = {
"@MMK_R_j" = -80;
"@MMK_R_u" = -30;
"@MMK_R_v" = -70;
"@MMK_R_x" = -30;
"@MMK_R_y" = -60;
braceright = -40;
bracketright = -30;
emdash = 30;
endash = 50;
guilsinglleft = -30;
question = -50;
quotedblright = -90;
quoteleft = -40;
quoteright = -60;
quotesingle = -80;
};
"@MMK_L_b" = {
"@MMK_R_n" = 0;
"@MMK_R_x" = -20;
"@MMK_R_y" = -50;
braceright = -30;
bracketright = -30;
emdash = 60;
endash = 70;
hyphen = 30;
question = -70;
quotedblright = -70;
quoteleft = -40;
quoteright = -40;
quotesingle = -50;
};
"@MMK_L_c" = {
"@MMK_R_j" = -50;
"@MMK_R_s" = 0;
"@MMK_R_v" = -10;
braceright = 0;
emdash = 50;
endash = 20;
guilsinglleft = -30;
hyphen = 10;
question = -30;
quotedblright = 20;
quoteright = 20;
slash = 30;
};
"@MMK_L_d" = {
"@MMK_R_j" = -40;
braceright = 30;
emdash = 50;
endash = 80;
hyphen = 50;
idieresis = 50;
parenright = 30;
quotedblright = 20;
quoteright = 20;
slash = 30;
};
"@MMK_L_e" = {
"@MMK_R_j" = -70;
"@MMK_R_v" = -40;
"@MMK_R_y" = -40;
emdash = 60;
endash = 70;
germandbls = 30;
hyphen = 40;
question = -40;
quoteright = -30;
slash = 40;
};
"@MMK_L_f" = {
"@MMK_R_h" = 50;
"@MMK_R_j" = -70;
"@MMK_R_k" = 40;
"@MMK_R_l" = 30;
braceright = 60;
bracketright = 80;
comma = -70;
emdash = 30;
endash = 50;
exclam = 80;
foursuperior = 40;
guilsinglleft = -20;
idieresis = 90;
onesuperior = 80;
parenright = 90;
period = -100;
question = 60;
quotedblright = 70;
quoteleft = 20;
quoteright = 80;
quotesingle = 90;
slash = 20;
threesuperior = 30;
twosuperior = 30;
zerosuperior = 40;
};
"@MMK_L_g" = {
"@MMK_R_j" = -60;
emdash = 50;
endash = 50;
hyphen = 20;
question = -40;
quotedblright = -20;
quoteleft = -20;
quoteright = -30;
slash = 30;
};
"@MMK_L_h" = {
"@MMK_R_j" = -30;
"@MMK_R_v" = -20;
bracketright = -30;
emdash = 50;
endash = 40;
hyphen = 40;
question = -50;
quotedblright = -60;
quoteright = -50;
space = 0;
};
"@MMK_L_i" = {
"@MMK_R_j" = -30;
"@MMK_R_s" = -20;
"@MMK_R_y" = -10;
braceright = 40;
emdash = 30;
hyphen = 20;
idieresis = 50;
parenright = 40;
quotedblright = 20;
};
"@MMK_L_k" = {
"@MMK_R_a" = -60;
"@MMK_R_c" = -60;
"@MMK_R_g" = -60;
"@MMK_R_j" = -90;
"@MMK_R_o" = -70;
"@MMK_R_s" = -50;
"@MMK_R_v" = -30;
"@MMK_R_x" = -30;
"@MMK_R_y" = -40;
bracketright = -50;
comma = -50;
guilsinglright = -60;
hyphen = -50;
parenright = -50;
period = -50;
question = -70;
quotedblright = -40;
quoteleft = -40;
quoteright = -50;
slash = -20;
};
"@MMK_L_l" = {
"@MMK_R_c" = -40;
"@MMK_R_g" = -40;
"@MMK_R_j" = -30;
"@MMK_R_o" = 0;
"@MMK_R_s" = -10;
"@MMK_R_u" = -40;
braceright = 40;
emdash = 40;
endash = 40;
hyphen = 20;
idieresis = 50;
parenright = 40;
slash = 30;
};
"@MMK_L_m" = {
bracketright = -20;
emdash = 40;
endash = 50;
question = -30;
quotedblright = -60;
quoteright = -40;
quotesingle = -50;
slash = 20;
};
"@MMK_L_n" = {
"@MMK_R_j" = -40;
bracketright = -3;
emdash = 40;
endash = 30;
hyphen = 40;
quotedblright = -50;
quoteright = -30;
quotesingle = -40;
};
"@MMK_L_o" = {
"@MMK_R_j" = -70;
"@MMK_R_t" = 20;
"@MMK_R_v" = -40;
bracketright = -30;
emdash = 50;
endash = 50;
hyphen = 20;
parenright = -30;
question = -70;
quotedblright = -50;
quoteleft = -30;
quoteright = -30;
quotesingle = -30;
};
"@MMK_L_p" = {
"@MMK_R_j" = -70;
"@MMK_R_v" = -40;
"@MMK_R_y" = -40;
bracketright = -30;
emdash = 50;
endash = 50;
hyphen = 30;
question = -50;
quotedblright = -50;
quoteright = -50;
quotesingle = -40;
};
"@MMK_L_q" = {
"@MMK_R_f" = 20;
emdash = 40;
endash = 30;
parenright = 30;
question = 0;
slash = 60;
};
"@MMK_L_r" = {
"@MMK_R_j" = -100;
comma = -90;
guilsinglleft = -50;
guilsinglright = -30;
period = -100;
quotedblright = 20;
};
"@MMK_L_s" = {
"@MMK_R_a" = -30;
"@MMK_R_c" = -20;
"@MMK_R_j" = -50;
"@MMK_R_o" = -20;
"@MMK_R_u" = -20;
"@MMK_R_v" = -50;
"@MMK_R_x" = -20;
"@MMK_R_y" = -30;
"@MMK_R_z" = -30;
asterisk = 0;
braceright = -30;
bracketright = -30;
endash = 20;
guilsinglright = -40;
hyphen = 30;
question = -40;
quotedblright = -30;
quoteleft = -20;
quoteright = -40;
quotesingle = -60;
};
"@MMK_L_t" = {
"@MMK_R_j" = -80;
"@MMK_R_s" = -30;
"@MMK_R_v" = -20;
"@MMK_R_y" = -40;
guilsinglleft = -50;
guilsinglright = -50;
hyphen = 0;
parenright = 30;
question = -30;
quotedblright = -20;
quoteright = -30;
quotesingle = -10;
slash = 30;
};
"@MMK_L_u" = {
"@MMK_R_j" = -70;
"@MMK_R_y" = -20;
endash = 30;
hyphen = 20;
question = -60;
quotedblright = -30;
quoteright = -30;
};
"@MMK_L_v" = {
"@MMK_R_c" = -20;
"@MMK_R_g" = -20;
"@MMK_R_j" = -110;
"@MMK_R_o" = -30;
"@MMK_R_s" = -40;
comma = -60;
eth = -40;
guilsinglleft = -50;
period = -60;
};
"@MMK_L_w" = {
"@MMK_R_j" = -70;
comma = -40;
paragraph = 90;
};
"@MMK_L_x" = {
"@MMK_R_a" = -40;
"@MMK_R_c" = -40;
"@MMK_R_g" = -20;
"@MMK_R_i" = -30;
"@MMK_R_j" = -80;
"@MMK_R_o" = -40;
"@MMK_R_s" = -40;
"@MMK_R_y" = -30;
asterisk = -70;
guilsinglright = -70;
parenright = -30;
question = -30;
quoteleft = -40;
quoteright = -30;
};
"@MMK_L_y" = {
"@MMK_R_a" = -80;
"@MMK_R_b" = -40;
"@MMK_R_c" = -70;
"@MMK_R_f" = -30;
"@MMK_R_g" = -60;
"@MMK_R_h" = -40;
"@MMK_R_i" = -50;
"@MMK_R_j" = -130;
"@MMK_R_k" = -30;
"@MMK_R_l" = -30;
"@MMK_R_m" = -40;
"@MMK_R_n" = -30;
"@MMK_R_o" = -70;
"@MMK_R_p" = -40;
"@MMK_R_r" = -40;
"@MMK_R_s" = -70;
"@MMK_R_t" = -30;
"@MMK_R_v" = -40;
"@MMK_R_x" = -40;
"@MMK_R_z" = -50;
asterisk = 0;
braceright = -40;
bracketright = -60;
comma = -100;
eth = -50;
germandbls = -30;
guilsinglleft = -80;
guilsinglright = -80;
period = -100;
quoteleft = -10;
quoteright = -20;
};
"@MMK_L_z" = {
"@MMK_R_a" = -30;
"@MMK_R_c" = -40;
"@MMK_R_j" = -40;
"@MMK_R_s" = -40;
guilsinglright = -50;
quotedblright = -30;
quoteright = -10;
quotesingle = -20;
};
Euro = {
six = -30;
zero = -40;
};
W = {
"@MMK_R_a" = -40;
"@MMK_R_c" = -70;
"@MMK_R_f" = 0;
"@MMK_R_g" = -70;
"@MMK_R_o" = -70;
bracketright = 40;
quoteright = 40;
quotesingle = 40;
};
X = {
"@MMK_R_a" = -70;
"@MMK_R_c" = -80;
"@MMK_R_f" = -40;
"@MMK_R_g" = -30;
"@MMK_R_o" = -60;
"@MMK_R_v" = -30;
w = -20;
};
Y = {
"@MMK_R_c" = -140;
"@MMK_R_g" = -130;
"@MMK_R_j" = -130;
"@MMK_R_m" = -50;
"@MMK_R_n" = -80;
"@MMK_R_o" = -150;
"@MMK_R_p" = -80;
"@MMK_R_r" = -70;
"@MMK_R_s" = -130;
"@MMK_R_t" = -30;
bracketright = 30;
comma = -80;
};
at = {
"@MMK_R_D" = -30;
"@MMK_R_T" = -50;
"@MMK_R_V" = -50;
"@MMK_R_X" = -60;
"@MMK_R_j" = -100;
};
b = {
"@MMK_R_o" = 0;
};
backslash = {
one = -30;
seven = -40;
};
braceleft = {
"@MMK_R_C" = -30;
"@MMK_R_a" = -40;
"@MMK_R_b" = 20;
"@MMK_R_c" = -20;
"@MMK_R_g" = 20;
"@MMK_R_h" = 30;
"@MMK_R_i" = 40;
"@MMK_R_j" = 40;
"@MMK_R_k" = 30;
"@MMK_R_l" = 40;
"@MMK_R_o" = -30;
"@MMK_R_s" = -30;
};
bracketleft = {
"@MMK_R_a" = -30;
"@MMK_R_c" = -20;
"@MMK_R_j" = 20;
"@MMK_R_o" = -20;
W = 40;
Y = 30;
};
comma = {
seven = -60;
};
eight = {
eight = -10;
endash = 50;
four = 20;
hyphen = 30;
seven = -20;
};
emdash = {
"@MMK_R_B" = 40;
"@MMK_R_C" = 70;
"@MMK_R_D" = 40;
"@MMK_R_E" = 40;
"@MMK_R_F" = 40;
"@MMK_R_L" = 30;
"@MMK_R_O" = 50;
"@MMK_R_P" = 20;
"@MMK_R_R" = 40;
"@MMK_R_T" = -30;
"@MMK_R_V" = -30;
"@MMK_R_a" = 40;
"@MMK_R_b" = 50;
"@MMK_R_c" = 60;
"@MMK_R_f" = 40;
"@MMK_R_g" = 60;
"@MMK_R_h" = 50;
"@MMK_R_i" = 40;
"@MMK_R_j" = -30;
"@MMK_R_k" = 50;
"@MMK_R_l" = 40;
"@MMK_R_m" = 40;
"@MMK_R_n" = 40;
"@MMK_R_o" = 60;
"@MMK_R_p" = 40;
"@MMK_R_s" = 40;
"@MMK_R_t" = 30;
"@MMK_R_u" = 20;
W = 0;
};
endash = {
"@MMK_R_B" = 40;
"@MMK_R_C" = 60;
"@MMK_R_E" = 40;
"@MMK_R_K" = 40;
"@MMK_R_L" = 40;
"@MMK_R_M" = 40;
"@MMK_R_N" = 40;
"@MMK_R_O" = 70;
"@MMK_R_P" = 40;
"@MMK_R_S" = 50;
"@MMK_R_T" = -80;
"@MMK_R_U" = 40;
"@MMK_R_V" = 0;
"@MMK_R_X" = -30;
"@MMK_R_a" = 50;
"@MMK_R_b" = 70;
"@MMK_R_c" = 70;
"@MMK_R_f" = 50;
"@MMK_R_g" = 90;
"@MMK_R_h" = 50;
"@MMK_R_k" = 50;
"@MMK_R_l" = 30;
"@MMK_R_n" = 50;
"@MMK_R_o" = 70;
"@MMK_R_p" = 30;
"@MMK_R_r" = 30;
"@MMK_R_s" = 40;
"@MMK_R_t" = 50;
"@MMK_R_u" = 40;
"@MMK_R_x" = -30;
Y = -80;
eight = 80;
five = 50;
four = 110;
nine = 40;
one = 20;
seven = -40;
six = 50;
three = 30;
two = 30;
zero = 60;
};
exclamdown = {
"@MMK_R_f" = 30;
"@MMK_R_g" = 30;
};
five = {
backslash = 0;
endash = 50;
five = 0;
four = 30;
hyphen = 30;
seven = -20;
six = -20;
three = 20;
};
four = {
endash = 80;
five = 20;
four = 40;
one = -40;
seven = -30;
};
germandbls = {
"@MMK_R_c" = 40;
"@MMK_R_n" = 40;
"@MMK_R_v" = -30;
comma = 20;
quoteleft = -20;
};
guillemotleft = {
guillemotright = 0;
};
guilsinglleft = {
"@MMK_R_S" = 40;
};
hyphen = {
"@MMK_R_C" = 30;
"@MMK_R_P" = 0;
"@MMK_R_T" = -80;
"@MMK_R_V" = -40;
"@MMK_R_X" = -70;
"@MMK_R_b" = 30;
"@MMK_R_c" = 40;
"@MMK_R_f" = 50;
"@MMK_R_g" = 40;
"@MMK_R_h" = 20;
"@MMK_R_i" = 30;
"@MMK_R_j" = -40;
"@MMK_R_k" = 20;
"@MMK_R_l" = 20;
"@MMK_R_m" = 20;
"@MMK_R_o" = 30;
"@MMK_R_p" = 20;
"@MMK_R_t" = 40;
"@MMK_R_u" = 30;
Y = -70;
eight = 50;
five = 30;
four = 60;
nine = 20;
six = 20;
space = 0;
};
idieresis = {
"@MMK_R_b" = 60;
"@MMK_R_h" = 60;
"@MMK_R_i" = 70;
"@MMK_R_k" = 60;
"@MMK_R_l" = 50;
backslash = 70;
braceright = 90;
bracketright = 60;
exclam = 70;
parenright = 50;
question = 50;
quoteleft = 40;
quoteright = 60;
quotesingle = 80;
};
nine = {
endash = 50;
four = 20;
hyphen = 20;
nine = -10;
six = -20;
};
one = {
backslash = 40;
eight = 20;
endash = 30;
five = 70;
four = 70;
nine = 20;
seven = 30;
six = 40;
three = 70;
two = 50;
};
parenleft = {
"@MMK_R_C" = -30;
"@MMK_R_D" = 30;
"@MMK_R_T" = 30;
"@MMK_R_U" = 40;
"@MMK_R_V" = 50;
"@MMK_R_b" = 40;
"@MMK_R_c" = -30;
"@MMK_R_h" = 40;
"@MMK_R_i" = 40;
"@MMK_R_j" = 40;
"@MMK_R_k" = 50;
"@MMK_R_l" = 40;
"@MMK_R_o" = -60;
"@MMK_R_p" = 20;
"@MMK_R_t" = 30;
};
parenright = {
space = 0;
};
percent = {
three = 30;
};
period = {
"@MMK_R_V" = -80;
"@MMK_R_v" = -80;
"@MMK_R_y" = -50;
Y = -100;
one = -40;
seven = -40;
};
questiondown = {
"@MMK_R_C" = -60;
"@MMK_R_H" = -40;
"@MMK_R_I" = -50;
"@MMK_R_K" = -60;
"@MMK_R_L" = -50;
"@MMK_R_M" = -40;
"@MMK_R_N" = -40;
"@MMK_R_O" = -50;
"@MMK_R_P" = -40;
"@MMK_R_V" = -130;
"@MMK_R_a" = -50;
"@MMK_R_c" = -60;
"@MMK_R_f" = -50;
"@MMK_R_g" = 20;
"@MMK_R_h" = -30;
"@MMK_R_i" = -50;
"@MMK_R_l" = -50;
"@MMK_R_m" = -40;
"@MMK_R_n" = -40;
"@MMK_R_o" = -50;
"@MMK_R_r" = -30;
"@MMK_R_s" = -30;
"@MMK_R_t" = -80;
"@MMK_R_u" = -60;
W = -80;
Y = -160;
eth = -70;
seven = -90;
};
quotedblleft = {
"@MMK_R_A" = -120;
"@MMK_R_B" = 30;
"@MMK_R_C" = 30;
"@MMK_R_D" = 30;
"@MMK_R_E" = 30;
"@MMK_R_J" = -100;
"@MMK_R_O" = -20;
"@MMK_R_R" = -20;
"@MMK_R_S" = 20;
"@MMK_R_T" = 20;
"@MMK_R_V" = 0;
"@MMK_R_a" = -70;
"@MMK_R_b" = 20;
"@MMK_R_c" = -60;
"@MMK_R_f" = 10;
"@MMK_R_g" = -70;
"@MMK_R_i" = 10;
"@MMK_R_j" = -90;
"@MMK_R_k" = 20;
"@MMK_R_o" = -50;
"@MMK_R_r" = -20;
"@MMK_R_s" = -30;
"@MMK_R_t" = 40;
"@MMK_R_u" = -20;
"@MMK_R_z" = -20;
W = 40;
w = 40;
};
quoteleft = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -80;
"@MMK_R_T" = 20;
"@MMK_R_V" = 20;
"@MMK_R_X" = -30;
"@MMK_R_a" = -70;
"@MMK_R_c" = -40;
"@MMK_R_g" = -50;
"@MMK_R_j" = -50;
"@MMK_R_m" = -20;
"@MMK_R_o" = -60;
"@MMK_R_s" = -40;
"@MMK_R_t" = 30;
"@MMK_R_u" = -30;
W = 40;
w = 30;
};
quoteright = {
"@MMK_R_A" = -120;
"@MMK_R_C" = -30;
"@MMK_R_J" = -100;
"@MMK_R_a" = -80;
"@MMK_R_b" = 0;
"@MMK_R_c" = -30;
"@MMK_R_j" = -90;
"@MMK_R_o" = -30;
"@MMK_R_s" = -50;
"@MMK_R_u" = -40;
"@MMK_R_x" = -30;
"@MMK_R_z" = -30;
AE = -150;
space = 0;
};
quotesinglbase = {
"@MMK_R_V" = -120;
};
quotesingle = {
"@MMK_R_A" = -90;
"@MMK_R_F" = 0;
"@MMK_R_J" = -100;
"@MMK_R_T" = 30;
"@MMK_R_a" = -70;
"@MMK_R_c" = -10;
"@MMK_R_g" = -50;
"@MMK_R_o" = -30;
"@MMK_R_t" = 40;
"@MMK_R_u" = -10;
"@MMK_R_z" = -20;
W = 40;
w = 40;
};
seven = {
comma = -40;
eight = -20;
endash = -30;
four = -70;
guilsinglleft = -40;
guilsinglright = -30;
hyphen = -40;
period = -40;
six = 0;
three = 20;
two = -30;
};
six = {
endash = 50;
four = 30;
hyphen = 30;
three = 0;
zero = -20;
};
slash = {
"@MMK_R_C" = -10;
"@MMK_R_J" = -30;
"@MMK_R_L" = -30;
"@MMK_R_O" = -20;
"@MMK_R_S" = 10;
"@MMK_R_V" = 20;
"@MMK_R_b" = 30;
"@MMK_R_c" = 0;
"@MMK_R_f" = 20;
"@MMK_R_j" = -50;
"@MMK_R_l" = 20;
"@MMK_R_o" = -50;
};
sterling = {
zero = -30;
};
three = {
backslash = 0;
endash = 40;
four = 20;
seven = -30;
six = -30;
three = 30;
zero = -20;
};
two = {
endash = 30;
question = -40;
three = 30;
};
w = {
quotedblright = 30;
quoteright = 30;
quotesingle = 30;
};
x = {
quotedblright = -30;
};
y = {
quotedblright = -40;
};
yen = {
eight = -40;
one = -30;
six = -50;
two = -40;
zero = -60;
};
zero = {
endash = 60;
four = 20;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
properties = (
{
key = copyrights;
values = (
{
language = ENG;
value = "© 2023, Luca Marsano % Collletttivo";
}
);
},
{
key = manufacturers;
values = (
{
language = ENG;
value = Collletttivo;
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Luca Marsano";
}
);
},
{
key = licenseURL;
value = "https://scripts.sil.org/OFL_web";
},
{
key = licenses;
values = (
{
language = ENG;
value = "SIL OpenFont License";
}
);
},
{
key = designerURL;
value = "https://www.collletttivo.it";
},
{
key = vendorID;
value = CLT;
}
);
settings = {
disablesNiceNames = 1;
};
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
HV = "83";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
